In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
 
plt.style.use('ggplot')
sns.set(font_scale=1.5)
%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [2]:
import pyspark as ps
from pyspark.sql import SQLContext

from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.feature import StandardScaler

In [3]:
sc = ps.SparkContext('local[4]')
sqlContext = SQLContext(sc)

In [4]:
# load data
df = pd.read_csv("/Users/samholt/GA/DSI12-lessons/projects/Capstone_Project/Capstone_MKII_DataFinal.csv'")
df.head()

   Unnamed: 0  author        subreddit  posts
0           1       1        starbound   11.0
1           2       2     AroundTheNFL   26.0
2           3       3           iphone    9.0
3           4       4  GonewildAudible   15.0
4           5       5             news   15.0

In [ ]:
spark_df = sqlContext.createDataFrame(df)
spark_df.first()

In [ ]:
spark_df.dtypes